In [1]:
import numpy as np

import pandas as pd
from pandas import Series,DataFrame

In [2]:
df = DataFrame(np.random.randint(0,150,size = (10,4)),columns=['Python','Math','En','Chinese'],
               index = pd.MultiIndex.from_product([['A','B','C','D','E'],['期中','期末']]))
df

      Python  Math   En  Chinese
A 期中      79     7    5       94
  期末      69   112   83      146
B 期中     111    51  119       12
  期末      41    21  121       15
C 期中      33    96   80      115
  期末      59    73   61       41
D 期中      75    92  109       41
  期末       4    27  111       42
E 期中      77    65  138      127
  期末      10   136  121       75

In [4]:
# 堆叠，列索引变成了行索引
stacked = df.stack()
stacked

A  期中  Python      79
       Math         7
       En           5
       Chinese     94
   期末  Python      69
       Math       112
       En          83
       Chinese    146
B  期中  Python     111
       Math        51
       En         119
       Chinese     12
   期末  Python      41
       Math        21
       En         121
       Chinese     15
C  期中  Python      33
       Math        96
       En          80
       Chinese    115
   期末  Python      59
       Math        73
       En          61
       Chinese     41
D  期中  Python      75
       Math        92
       En         109
       Chinese     41
   期末  Python       4
       Math        27
       En         111
       Chinese     42
E  期中  Python      77
       Math        65
       En         138
       Chinese    127
   期末  Python      10
       Math       136
       En         121
       Chinese     75
dtype: int32

In [7]:
# unstack 行变成列
stacked.unstack(level=0)

              A    B    C    D    E
期中 Python    79  111   33   75   77
   Math       7   51   96   92   65
   En         5  119   80  109  138
   Chinese   94   12  115   41  127
期末 Python    69   41   59    4   10
   Math     112   21   73   27  136
   En        83  121   61  111  121
   Chinese  146   15   41   42   75